*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color:#121212;
    color: #DCDDDC ;
    text-align: center;
}

#principalDiv {
    background-color: #1E1F1F;
    border-radius: 20px;
    padding: 10px;
    max-width: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
input[type="radio"] {
    margin-right: 20px;
}

input{
    margin-bottom: 20px;
}

h1, h2, p{
    margin: 25px;
}

#newPassButton, #clean, #copy, #newPassword{
    background-color:#121212;
    color: #DCDDDC ;
    border-radius: 50px;
    border: 0;
    padding: 7px;
    margin: 5px;
    width: 120px;
    text-align: center;
}

#newPassword{
    width: 250px;
}

#newPassButton:hover, #clean:hover, #copy:hover{
    color: #ba86fd;
    font-weight: bolder;
}

@media screen and (max-width: 500px) {
    h1{
        font-size: 20px;
    }

    h2{
        font-size: 15px;
    }
    
    #buttons{
        margin: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center
    }
    input[type="radio"] {
        margin: auto;
    }

    #newPassword{
        margin-top: 20px;
    }

    #newPassButton, #clean, #copy{
        margin-bottom: 15px;
    }
  }